[Desktop Entry]
Encoding=UTF-8
Name=Cunaguaro
Name[bg]=Cunaguaro
Name[ca]=Cunaguaro
Name[cs]=Cunaguaro
Name[el]=Cunaguaro
Name[es]=Cunaguaro
Name[fa]=Cunaguaro
Name[fi]=Cunaguaro
Name[fr]=Cunaguaro
Name[hu]=Cunaguaro
Name[it]=Cunaguaro
Name[ja]=Cunaguaro
Name[ko]=Cunaguaro
Name[nb]=Cunaguaro
Name[nl]=Cunaguaro
Name[nn]=Cunaguaro
Name[no]=Cunaguaro
Name[pl]=Cunaguaro
Name[pt]=Cunaguaro
Name[pt_BR]=Cunaguaro
Name[ru]=Cunaguaro
Name[sk]=Cunaguaro
Name[sv]=Cunaguaro
Comment=Browse the World Wide Web
Comment[bg]=Сърфиране в Мрежата
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[de]=Im Internet surfen
Comment[el]=Περιηγηθείτε στον παγκόσμιο ιστό
Comment[es]=Navegue por la web
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Navigue sur Internet
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW 
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ru]=Обозреватель Всемирной Паутины
Comment[sk]=Prehliadanie internetu
Comment[sv]=Surfa på webben
GenericName=Web Browser
GenericName[bg]=Интернет браузър
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador web
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ru]=Интернет-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sv]=Webbläsare
X-GNOME-FullName=Cunaguaro Web Browser
X-GNOME-FullName[bg]=Интернет браузър (Cunaguaro)
X-GNOME-FullName[ca]=Navegador web Cunaguaro
X-GNOME-FullName[cs]=Cunaguaro Webový prohlížeč
X-GNOME-FullName[el]=Περιηγήτης Ιστού Cunaguaro
X-GNOME-FullName[es]=Navegador web Cunaguaro
X-GNOME-FullName[fa]=مرورگر اینترنتی Cunaguaro
X-GNOME-FullName[fi]=Cunaguaro-selain
X-GNOME-FullName[fr]=Navigateur Web Cunaguaro
X-GNOME-FullName[hu]=Cunaguaro webböngésző
X-GNOME-FullName[it]=Cunaguaro Browser Web
X-GNOME-FullName[ja]=Cunaguaro ウェブ・ブラウザ
X-GNOME-FullName[ko]=Cunaguaro 웹 브라우저
X-GNOME-FullName[nb]=Cunaguaro Nettleser
X-GNOME-FullName[nl]=Cunaguaro webbrowser
X-GNOME-FullName[nn]=Cunaguaro Nettlesar
X-GNOME-FullName[no]=Cunaguaro Nettleser
X-GNOME-FullName[pl]=Przeglądarka WWW Cunaguaro
X-GNOME-FullName[pt]=Cunaguaro Navegador Web
X-GNOME-FullName[pt_BR]=Navegador Web Cunaguaro
X-GNOME-FullName[ru]=Интернет-браузер Cunaguaro
X-GNOME-FullName[sk]=Internetový prehliadač Cunaguaro
X-GNOME-FullName[sv]=Webbläsaren Cunaguaro
Exec=cunaguaro %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=cunaguaro
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-bin
StartupNotify=true
